@using MangaShelf.Components.Elements.VolumeDetails
@inject IDialogService Dialog


@if (Volume != null)
{
    <MudCard @onclick="OpenVolumeAsync" Style="position:relative;" Class="manga-card ">
        <div class="image-container">
            <FallbackImage ImageUrl="@Volume.CoverImageUrlSmall" Class="card-image" Alt="@Volume.SeriesName" />
        </div>
    </MudCard>
}
else
{
    <MudCard Style="position:relative;" Class="manga-card ">
        <div class="image-container">
            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle"></MudSkeleton>
        </div>
    </MudCard>

}

<style>
    .my-custom-class {
        backdrop-filter: blur(10px);
    }
</style>

@code {
    [Parameter]
    public CardVolumeDto? Volume { get; set; }

    private async Task OpenVolumeAsync()
    {
        var parameters = new DialogParameters<VolumeDetailedModal>();
        parameters.Add(x => x.VolumeId, Volume.Id);
        var options = new DialogOptions()
        {
            BackgroundClass = "my-custom-class",
            CloseOnEscapeKey = true
        };

        await Dialog.ShowAsync<VolumeDetailedModal>(string.Empty, parameters, options);
    }
}