@using MangaShelf.DAL.Models
@using System.Security.Claims
@using System.Threading.Tasks

@inherits VolumeActionBase

@if (VolumeState.CurrentUserStatus != null && VolumeState.CurrentUserStatus.Ownerships.Any())
{

    @foreach (var ownership in VolumeState.CurrentUserStatus.Ownerships.OrderByDescending(x => x.Date))
    {
        <div class="reading-history">
            <MudStack Row Justify="Justify.SpaceBetween" Spacing="1">
                <MudText Typo="Typo.body2">@ownership.Date.ToString("dd.MM.yyyy")</MudText>

                <MudSpacer />

                <MudText Typo="Typo.body2">@Localizer[ownership.Status]</MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="() => DeleteFromHistory(ownership.Id)" Size="Size.Small"></MudIconButton>
            </MudStack>
        </div>
    }
}

@code {

}