@inject IJSRuntime JS

@inherits VolumeActionBase

@{
    var classes = $"reading-history{(ReadingHistory.ReviewId != null ? " has-review" : string.Empty)}";
}
<div @onclick="ScrollToReview" class="@classes">
    <MudStack Row AlignItems="AlignItems.Center" Spacing="1" @onclick="()=>ShowAddEditReadingDialog(ReadingHistory)">
        @{
            string date;
            if (ReadingHistory.FinishedAt != null)
            {
                date = ReadingHistory.FinishedAt.Value.ToLocalTime().ToString("dd.MM.yyyy");
            }
            else
            {
                date = ReadingHistory.StartedAt.ToLocalTime().ToString("dd.MM.yyyy");
            }
        }

        <MudText Typo="Typo.body2">@date</MudText>

        <MudSpacer/>

        <MudText Typo="Typo.body2">@Localizer[ReadingHistory.Status]</MudText>
@*         <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.Filled.Edit" OnClick="() => ShowAddEditReadingDialog(ReadingHistory)" Size="Size.Small"></MudIconButton>
 *@    </MudStack>
</div>

@code {

    [Parameter]
    public ReadingHistoryDto ReadingHistory { get; set; }

    private async Task ScrollToReview()
    {

        // if (ReadingHistory.ReviewId == null)
        // {
        //     return;
        // }

        // var reviewId = $"review-{ReadingHistory.ReviewId}";
        // await JS.InvokeVoidAsync("scrollToElement", reviewId);
    }
}
