DOCKER_REGISTRY=ghcr.io/natashalysakova/
IMAGE_TAG=latest

TZ=Europe/Kyiv
MYSQL_ROOT_HOST='%'

MANGA_HOST=mangashelf.db
MANGA_ROOT_PASSWORD={secure password here}
MANGA_USER=manga-db-user
MANGA_PASSWORD={secure password here}
MANGA_DATABASE=manga-shelf-db
ACCOUNTS_DATABASE=accounts-db
SYSTEM_DATABASE=manga-system-db