@page "/catalog"
@using MangaShelf.BL.Dto
@using MudBlazor.Services
@inject IVolumeService VolumeService

<MudPaper Class="p-4" Elevation="3" Style="background-color: transparent">
    <MudTextField T="string" Label="OnFocus Helper" Variant="Variant.Outlined" />
</MudPaper>


@if (_loading != true)
{
    <div class="d-flex flex-column align-center mb-8">
        <MudPagination ShowFirstButton="true" ShowLastButton="true" Count="_totalPages" @bind-Selected="_selectedPage" Class="mt-4" />
    </div>
    <MudGrid Justify="@justification" Spacing="6">
        @foreach (var volume in volumes)
        {
            <MudItem xs="6" sm="4" md="3" lg="2">
                <VolumeCard Volume="@volume" />
            </MudItem>
        }
    </MudGrid>
}



@code {
    private bool _loading;

    private bool _openStart = true;
    private bool _openEnd = true;
    private int _totalPages;
    private int _selectedPage
    {
        get => _selectedPageValue;
        set
        {
            _selectedPageValue = value;
            ReloadVolumes();
        }
    }
    private int _selectedPageValue = 1;

    [CascadingParameter]
    public bool Rtl { get; set; }

    private void ToggleStartDrawer()
    {
        _openStart = !_openStart;
    }

    private void ToggleEndDrawer()
    {
        _openEnd = !_openEnd;
    }


    Justify justification = Justify.FlexStart;

    IEnumerable<VolumeDto> volumes = Enumerable.Empty<VolumeDto>();

    PaginationOptions paginationOption = new() { PageNumber = 1, PageSize = 24 };

    protected override async Task OnInitializedAsync()
    {

        await ReloadVolumes();

        await base.OnInitializedAsync();
    }

    private async Task ReloadVolumes()
    {

        paginationOption.PageNumber = _selectedPage;
        (volumes, _totalPages) = await VolumeService.GetAllVolumesAsync(paginationOption);

        StateHasChanged();
    }
}
