@page "/"
@using MangaShelf.BL.Dto
@using MangaShelf.BL.Interfaces
@inject IVolumeService VolumeService
@inject IUiLocalizationService Localizer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<MudText Typo="Typo.h5">@Localizer["NewManga"]</MudText>
<MangaLine Volumes="@NewReleasedManga" />

<MudText Typo="Typo.h5">@Localizer["NewPreorders"]</MudText>
<MangaLine Volumes="@Preorders" />


@code
{
    private IEnumerable<CardVolumeDto>? NewReleasedManga { get; set; } = Enumerable.Empty<CardVolumeDto>();
    private IEnumerable<CardVolumeDto>? Preorders { get; set; } = Enumerable.Empty<CardVolumeDto>();

    protected override async Task OnInitializedAsync()
    {
        NewReleasedManga = await VolumeService.GetNewestReleases();
        Preorders = await VolumeService.GetLatestPreorders();
    }
}
