@page "/my-shelf"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]


<h3>MyShelf</h3>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
@code {

}
