html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    /*    background-image: radial-gradient(18% 28% at 34% 41%, rgba(253, 253, 113, 0.2117647059) 7%, rgba(7, 58, 255, 0) 100%), radial-gradient(18% 28% at 26% 69%, rgba(127, 89, 131, 0.3490196078) 6%, rgba(7, 58, 255, 0) 100%), radial-gradient(70% 53% at 36% 76%, #102c36 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(42% 53% at 15% 94%, #050101 7%, rgba(7, 58, 255, 0) 100%), radial-gradient(42% 53% at 34% 72%, #06041d 7%, rgba(7, 58, 255, 0) 100%), radial-gradient(18% 28% at 35% 87%, #1ed879 7%, rgba(7, 58, 255, 0) 100%), radial-gradient(31% 43% at 7% 98%, #611717 24%, rgba(7, 58, 255, 0) 100%), radial-gradient(21% 37% at 72% 23%, rgba(4, 30, 67, 0.6156862745) 24%, rgba(7, 58, 255, 0) 100%), radial-gradient(35% 56% at 91% 74%, rgba(8, 1, 20, 0.9607843137) 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(74% 86% at 67% 38%, rgba(109, 245, 255, 0.6509803922) 24%, rgba(7, 58, 255, 0) 100%), linear-gradient(125deg, #000812 1%, #020d0f 100%);*/
    background: linear-gradient(135deg, #0f172d 0%, #1a3788 50%, #124c69 100%);
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}


.catalog-container {
    min-height: 1356px;
}

.catalog-paper {
    background-color: rgba(255, 255, 255, 0.1333333333) !important;
    padding: 30px;
}

.manga-gradient-background, .manga-header-menu-item {
    color: #cefafe !important;
}

.manga-gradient-background {
    background: linear-gradient(90deg, #0f172d 0%, #1a3788 50%, #124c69 100%);
    border-bottom: 1px solid #104e64;
}

.manga-card {
    position:relative;
    pointer-events: auto;
}

    .manga-card:hover {
        transition: 0.2s ease-in;
        transform: scale(1.235);
        backface-visibility: hidden;
        z-index: 3 !important;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5) !important;
        padding: 0;
        cursor: pointer;
    }

    .manga-card:hover .card-image{
    }

    .manga-card .hidden-child {
        visibility: hidden;
    }

    .manga-card:hover .hidden-child {
        visibility: visible;
    }

.manga-panel {
    align-items: start;
    position: absolute;
    bottom: -60px;
    background-color: rgba(255,255,255,1);
    width: 100%;
    color: white;
    z-index: 2;
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 140%;
    overflow: hidden;
    background-color: white;
    pointer-events: none;
}

    .image-container:hover {
        background-color: transparent !important;
    }

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card-image-side {
    object-fit: contain;
}

.card-avatar {
    position: absolute !important;
    right: 0 !important;
    background-color: #198754 !important;
    color: white !important;
    border: 2px solid white !important;
    z-index: 2 !important;
}

.preorder-badge, .preorder-date-badge {
    position: absolute;
    right: 0;
    margin-right: 0 !important;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0px 4px 0px 8px;
    height: 22px;
}

.preorder-badge {
    top: 0;
    color: var(--mud-palette-tertiary-text) !important;
    background-color: var(--mud-palette-tertiary) !important;
}
.preorder-date-badge {
    top: 22px;
    color: var(--mud-palette-info-text) !important;
    background-color: var(--mud-palette-info) !important;
}

.paper-manga-panel {
    background-color: rgba(255, 255,255, 0.1) !important; 
}
