@inherits LayoutComponentBase

@inject IUiLocalizationService Localizer

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />
@* Needed for dialogs *@
<MudDialogProvider />
@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Style="background-color: #198754">
        <NavMenu/>
    </MudAppBar>
    @*     <MudDrawer @bind-Open="@_open" Width="280px" Variant="DrawerVariant.Responsive" ClipMode="DrawerClipMode.Always">
        <NavMenu></NavMenu>
    </MudDrawer> *@
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large">
            @Body
        </MudContainer>
        <MudScrollToTop>
            <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
        </MudScrollToTop>
        <MudAppBar Elevation="0" Dense="true" Fixed="false" Style="z-index:auto; background-color: #198754">
            <MudGrid Justify="Justify.Center">
                <MudText Style="font-size:small">COPYRIGHT</MudText>
            </MudGrid>
        </MudAppBar>

    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    private bool _open = false;

    private void ToggleDrawer()
    {
        _open = !_open;
    }
}
